span.anthe {
  display: inline-block;
  width: 1.8em;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffe;
  color: #ffe;
  text-align: center;
}

span.anthe:hover {
  color: #000;
}